.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-top: rgba(78, 3, 103, 0.896) 10px solid;
  border-right: rgba(111, 24, 140, 0.579) 10px solid;
  border-bottom: rgba(169, 77, 200, 0.364) 10px solid;
  border-left: rgba(169, 77, 200, 0.132) 10px solid;
  animation: pin 1s linear infinite;
}
@keyframes pin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
